@font-face {
    font-family: 'HUAKANGBANGBANGTIFANW5';
    src: url('../../skin/HUAKANGBANGBANGTIFANW5-1.TTC') format('truetype');
    font-weight: normal;
}

body{
  font-family: 'HUAKANGBANGBANGTIFANW5';
}

.modal-dialog{
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: url("../../skin/VR360_UI-40.png");
  background-repeat: no-repeat;
  background-size: 600px 200px;
  width: 600px;
  height: 200px;
}
.modal-body {
  width: 600px;
  height: 130px;
  z-index: 99;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
    margin: 0px 10px;
    z-index: 100;
    position: relative;
}

#pictextAvatar {
    width: 170px;
    position: absolute;
    right: 420px;
    bottom: 2px;
}
#pictextContent {
    font-size: 20px;
    color: white;
    width: calc(100% - 195px);
    padding: 0;
    margin-top: 20px;
    margin-left: 175px;
}
.btn-next {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/下一頁.png");
  background-size: 50px 50px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-previous {
  width: 50px;
  height: 50px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/上一頁.png");
  background-size: 50px 50px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-wand {
  width: 50px;
  height: 50px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/VR360_UI-32-45.png");
  background-size: 50px 50px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-cus1 {
  font-family: 'HUAKANGBANGBANGTIFANW5';
  width: 200px;
  height: 50px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/按鈕1_長版.png");
  background-size: 200px 50px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 black;
  letter-spacing: 1px;
}
.btn-cus2 {
  font-family: 'HUAKANGBANGBANGTIFANW5';
  width: 100px;
  height: 50px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/按鈕2.png");
  background-size: 100px 50px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 black;
  letter-spacing: 1px;
}
.btn-cus3 {
  font-family: 'HUAKANGBANGBANGTIFANW5';
  width: 100px;
  height: 50px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/按鈕3.png");
  background-size: 100px 50px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 black;
  letter-spacing: 1px;
}
.btn-cus4 {
  font-family: 'HUAKANGBANGBANGTIFANW5';
  width: 100px;
  height: 50px;
  margin-top: -15px;
  background-color: inherit;
  border: none;
  background-image: url("../../skin/按鈕4.png");
  background-size: 100px 50px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 black;
  letter-spacing: 1px;
}

.btn-next:hover {
  background-color: inherit;
  border: none;
}
.btn-previous:hover {
  background-color: inherit;
  border: none;
}
.btn-wand:hover {
  background-color: inherit;
  border: none;
}
.btn-cus1:hover {
  background-color: inherit;
  border: none;
  color: white;
}
.btn-cus2:hover {
  background-color: inherit;
  border: none;
  color: white;
}
.btn-cus3:hover {
  background-color: inherit;
  border: none;
  color: white;
}
.btn-cus4:hover {
  background-color: inherit;
  border: none;
  color: white;
}
.modal-dialog {
  margin: 0 auto !important;
  margin-top: 159px !important;
}

@media (max-width: 600px) {
  .modal-dialog {
		background-size: 550px 183px !important;
		width: 550px !important;
		height: 183px !important;
	}
  .modal-body{
    width: 550px !important;
		height: 118px !important;
  }
  #pictextContent {
    width: 325px !important;
    margin-top: 5px !important;
    margin-left: 180px !important;
  }
  #pictextAvatar {
    width: 155px !important;
    right: 380px !important;
    bottom: 0px !important;
  }
  .btn {
    zoom: 0.9 !important;
  }
}
@media (max-width: 550px) {
  .modal-dialog {
		background-size: 500px 166px !important;
		width: 500px !important;
		height: 166px !important;
	}
  .modal-body{
    width: 500px !important;
		height: 100px !important;
  }
  #pictextContent {
    font-size: 16px !important;
    width: 320px !important;
    margin-top: 5px !important;
    margin-left: 155px !important;
  }
  #pictextAvatar {
    width: 140px !important;
    right: 340px !important;
    bottom: 5px !important;
  }
  #button-area {
    margin-top: 15px !important;
  }
  .btn {
    zoom: 0.7 !important;
  }
}
@media (max-width: 500px) {
  .modal-dialog {
		background-size: 450px 150px !important;
		width: 450px !important;
		height: 150px !important;
	}
  .modal-body{
    width: 450px !important;
		height: 80px !important;
  }
  #pictextContent {
    font-size: 14px !important;
    width: 275px !important;
    margin-top: 5px !important;
    margin-left: 155px !important;
  }
  #pictextAvatar {
    width: 140px !important;
    right: 300px !important;
  }
}
@media (max-width: 450px) {
  .modal-dialog {
		background-size: 400px 133px !important;
		width: 400px !important;
		height: 133px !important;
	}
  .modal-body{
    width: 400px !important;
		height: 65px !important;
  }
  #pictextContent {
    font-size: 14px !important;
    width: 210px !important;
    margin-top: 5px !important;
    margin-left: 160px !important;
  }
  #pictextAvatar {
    width: 115px !important;
    right: 260px !important;
  }
  #button-area {
    margin-top: 20px !important;
  }
  .btn {
    zoom: 0.6 !important;
  }
}
@media (max-width: 400px) {
  .modal-dialog {
		background-size: 350px 116px !important;
		width: 350px !important;
		height: 116px !important;
	}
  .modal-body{
    width: 350px !important;
		height: 50px !important;
  }
  #pictextContent {
    font-size: 10px !important;
    width: 210px !important;
    margin-top: 5px !important;
    margin-left: 115px !important;
  }
  #pictextAvatar {
    width: 100px !important;
    right: 240px !important;
  }
  #button-area {
    margin-top: 20px !important;
  }
  .btn {
    zoom: 0.6 !important;
  }
}
