@charset "utf-8";
/* CSS Document */
div.slide-mask {
  position: absolute;
  z-index: 5004;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: none;
}
aside.slide-wrapper {
  position: absolute;
  z-index: 5005;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
aside.slide-wrapper > div {
  background-color: #343434;
  min-height: 100%;
  background-color: rgba(0,0,0,0.7);
}
aside.sublistbox > div{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  background-color: rgba(0,0,0,1);
}
aside.slide-wrapper > div > ul{
	padding-left:0;
	margin-bottom: 0;
	overflow-y:scroll;
}
aside.slide-wrapper > div > div {
  padding: 0 0 0 10px;
  height: 60px;
  background-color: #286efa;
  overflow: hidden;
}
aside.slide-wrapper > div > div strong {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
}
aside.slide-wrapper.moved {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
aside.slide-wrapper li > a {
  padding: 10px 10px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #262626;
  font-size: 15px;
  display: block;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
}
aside.slide-wrapper li.current > a {
  background-color: #262626;
}
aside.slide-wrapper li > a > img{
	width:40px;height:40px;float:left;margin-right:10px;border-radius:5px;
}

@media (min-width : 1200px) { 
aside.sublistbox{
	padding-left:0px;
	width: 250px;
}

}  

@media (max-width: 768px){

aside.sublistbox{
	padding-left:0px;
	width: 100px;
}
}  



a.listbox-close{
	display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
	color:#fff;
}
.slide-menu{
	position:fixed;left:0;bottom:20px;display:inline-block;width:100px;height:50px;z-index:2001;background-color:#286efa;color:#fff;line-height:50px;text-align:center;font-size:14px;
}
aside.slide-wrapper li.active{
	background:#262626;
}
@media (max-width: 767px){
	aside.slide-wrapper{
		width: 200px;
	}
	aside.slide-wrapper > div > div {
		height: 40px;
	}
	aside.slide-wrapper > div > div strong {
		height: 40px;
		line-height: 40px;
		font-size:12px;
	}
	aside.slide-wrapper li > a {
		line-height:30px;
		padding:5px 5px;
		font-size: 13px;
	}
	aside.slide-wrapper li > a > img{
		width:30px;height:30px;
	}
	.slide-menu{
		width:60px;
		height:30px;
		line-height:30px;
		left: 10px;
		bottom: 20px;
		font-size: 12px;
	}
	a.listbox-close{
		margin-top:5px;
	}
	aside.sublistbox{
		width:200px;
	}
}